@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');



header h1 {
    font-family: 'Press Start 2P', sans-serif;
    color: #FFF;
    text-shadow: 10px 7px rgba(0, 0, 0, 0.4);
}




